# FireStack development environment
GCLOUD_PROJECT=demo-your-project
VITE_USE_FIREBASE_EMULATOR=true
VITE_FIREBASE_EMULATOR_HOST=127.0.0.1
TEST_DOCKER_MEMORY=3g
TEST_DOCKER_MEMORY_SWAP=4g
TEST_DOCKER_CPUS=2
