# FireStack test env (development / local docker)
GCLOUD_PROJECT=demo-your-project
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
TEST_DOCKER_MEMORY=3g
TEST_DOCKER_MEMORY_SWAP=4g
TEST_DOCKER_CPUS=2
